.wrapper {
  max-width: 800px;
  margin: 28px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: flex-start;
  border: solid black;

  margin: 0 -15px;
}

.flex-container .item {
  flex: 1 0 calc(200px);

  /* styles */
  height: 50px;
  color: lightgray;
  background-color: #444444;
  border-left: solid black;
  border-right: solid black;
}

.flex-container .item span {
  display: block;

  /* styles */
  padding: 15px;
}

  

  .project{
    background-color: rgb(221, 125, 125);
    border:solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    color: lightgrey;
}
img{
  display: block;
  float: left;
  margin: 10px;
}
.a{
  color: lightgray;
}

a{
  color: rgb(255, 240, 240);
  text-decoration: none;
}

